h1{
    color: #ffc8dd;
    background-color: #cdb4db;
    text-align: center;
    font-family: Cascadia Code, serif;
    padding: 10px;
}

table{
    border: black solid 1px;
    border-collapse: collapse;
    background-color:#ffafcc;
    color: white;
}

th, td {
    border: black solid 1px;
    padding: 5px;
    text-align: center;
}